server {
    if ($host = www.ensine.me) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    if ($host = ensine.me) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    listen 80;
    server_name ensine.me www.ensine.me;

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    server_name ensine.me www.ensine.me;

    ssl_certificate /etc/letsencrypt/live/ensine.me/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/ensine.me/privkey.pem; # managed by Certbot

    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_prefer_server_ciphers on;

    ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";

    location /api/ {
        rewrite ^/api/(.*) /$1 break;
        proxy_pass http://localhost:3000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }

    location /webhook {
        proxy_pass http://localhost:6000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

